*{
	padding:0;
	margin:0;
}

/*nav*/
.navbar-uno{
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: black;
	top: 0;

}
.logo{
	background-image: url('../img/m129ctbxq65v0ce1e1k911.jpg');
	text-decoration: none;
	background-repeat: no-repeat;
	background-size: cover;
	width:40px;
	height: 40px;
	padding: 30px;
	margin-left: 26px;
	padding-top:2%;
	cursor:pointer;
}

#eightphoto{
	color:white;
}


/*carousel*/
.carousel-uno-img{
	background-image:url('../img/banner1.jpg');
}

.segnavbar{ 
	background-color: white;
	height: 100px;
	margin-top: 50px;
	.photo{
		font-family: 'Oswald', sans-serif;
		margin-left: 50px;
		.eig{
			color: green;
		}
		.wp{
			color: black;
		}
	}
}

/*slider*/

.myCarousel{
	width: 100%;
	height: 500px;
	
}



/*seccion dos*/
#dos{
	height:340px;
}

#titulo-about{
	font-family: 'Pompiere', cursive;
	padding-top:30px;
}

#parrafo-dos{
	text-align:center;
	text-align:justify;
	padding-top:50px;
	font-size:14px;
}

/*seccion tres*/

#tres{
	background: #f4f4f4;
	height: 750px;
}

#titulo-services{
	font-family: 'Pompiere', cursive;
	padding-top:50px;
}

.hr-uno{
	text-align:center;
	width:4%;
	border: 1px solid #000;
	margin-left: 48%;
	margin-top:1%;
}

.hr-dos{
	text-align:center;
	width:2%;
	border: 1px solid #000;
	margin-left: 49%;
	margin-top:-1%;

}

.imagen-uno{
	background-image:url('../img/service-1-640x790.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	height:450px;
	margin-top:50px;
}

.imagen-dos{
	background-image:url('../img/service-3-640x790.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	height:450px;
	margin-top:50px;
}

.imagen-tres{
	background-image:url('../img/service-2-640x790.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	height:450px;
	margin-top:50px;
}


/*seccion cuatro*/

#cuatro{
	background-image:url('../img/stat-bg.jpg');
	height:400px;
}

.fa{
	color:white;
	padding-top:60px;	
}

.titulo-iconos{
	color:white;
	font-family: 'Pompiere', cursive;
}

#hexagono { 
   width: 100px; 
   height: 55px; 
   background: #162f4e; 
   position: relative; 
   margin-top:20%;
   margin-left: 33%;
} 

#hexagono:before { 
   width: 0; 
   height: 0; 
   content: ""; 
   position: absolute; 
   top: -25px; 
   left: 0; 
   border-left: 50px solid transparent; 
   border-right: 50px solid transparent; 
   border-bottom: 25px solid #162f4e;
} 

#hexagono:after { 
   width: 0; 
   height: 0; 
   content: ""; 
   position: absolute; 
   bottom: -25px; 
   left: 0; 
   border-left: 50px solid transparent; 
   border-right: 50px solid transparent; 
   border-top: 25px solid #162f4e;
}







